<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Datos del usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">



<ion-grid>
  <ion-row>
    <ion-col>Nombre </ion-col>
    <ion-col><input type="text" [(ngModel)]="res44ult" /></ion-col>
  </ion-row>

 <ion-row>
   <ion-col>Edad </ion-col>
   <ion-col><input type="number" [(ngModel)]="re4s4ult" /></ion-col>
 </ion-row>

<ion-row>
  <ion-col>Numero de telefono </ion-col>
  <ion-col><input type="number" [(ngModel)]="re45sult" /></ion-col>
</ion-row>

<ion-row>
  <ion-col>Correo electronico</ion-col>
  <ion-col><input type="text" [(ngModel)]="re5s4ult" /></ion-col>
</ion-row>

<ion-row>
  <ion-col>Direccion de casa</ion-col>
  <ion-col><input type="number" [(ngModel)]="re4s6ult" /></ion-col>
</ion-row>

<ion-row>
  <ion-col>Numero de seguro social </ion-col>
  <ion-col><input type="number" [(ngModel)]="re4sul6t" /></ion-col>
</ion-row>

<ion-row>
  <ion-col>Puesto o cargo </ion-col>
  <ion-col><input type="text" [(ngModel)]="res6" /></ion-col>
</ion-row>


</ion-grid>

</ion-content>
