<ion-header>
  <ion-toolbar>
    <ion-title>Historial de acceso y clave de acceso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <ion-row>
    <ion-col>Entrada Exitosa</ion-col>
  </ion-row>
  <ion-item>
    <ion-label>22 de Enero del 2021, 01.00am</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>22 de Enero del 2021, 01.00am</ion-label>
  </ion-item>

  <ion-row>
    <ion-col>Entrada Incorrecta</ion-col>
  </ion-row>

  <ion-item>
    <ion-label>22 de Enero del 2021, 01.00am</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>22 de Enero del 2021, 01.00am</ion-label>
  </ion-item>

</ion-content>
